@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" Style="#000000">Bem-vindo ao <Bootcamp /> de Programação Web da ION Sistemas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center-black">
    <h4 class="display-2" Style="#000000">Realização: ION Sistemas</h4>
    <h4 class="display-2" >Apoio: Decom - UFVJM</h4>
   
</div>
